
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Kode+Mono:wght@400..700&family=Share+Tech+Mono&display=swap');
@import 'tailwindcss';

@theme {
    --font-baloo: "Baloo 2", sans-serif;

    --color-background-primary: #f6f4f0;
    --color-logo-font-color: #e15c31;
}